#textdomain wesnoth-CAGEMATCH_ERA

# wmllint: local spelling RPG

#define CAGEMATCH_SIDE ERA FACTION
    {~add-ons/CAGEMATCH_ERA/factions/{FACTION}-{ERA}.cfg}
#enddef

#textdomain wesnoth-multiplayer

#textdomain wesnoth-CAGEMATCH_ERA
[era]
    id=Cagematch
    name= _ "CAGEMATCH ERA"
    require_era=yes
    description= _ "Default + Khalifate + Balanced CAGEMATCH"

    {RANDOM_SIDE}
    {CAGEMATCH_SIDE CAGEMATCH celestials}
    {CAGEMATCH_SIDE CAGEMATCH elementals}
    {CAGEMATCH_SIDE CAGEMATCH therians}
    {CAGEMATCH_SIDE CAGEMATCH vampires}
    {CAGEMATCH_SIDE CAGEMATCH wargs}
    {CAGEMATCH_SIDE CAGEMATCH windsong} 
    {multiplayer/factions/loyalists-default.cfg}
    {multiplayer/factions/rebels-default.cfg}
    {multiplayer/factions/northerners-default.cfg}
    {multiplayer/factions/undead-default.cfg}
    {multiplayer/factions/knalgans-default.cfg}
    {multiplayer/factions/drakes-default.cfg}
    {multiplayer/factions/dunefolk-default.cfg}

    {TURNS_OVER_ADVANTAGE}
[/era]

#undef CAGEMATCH_SIDE
